.text_red{
    color: #F00;
}

.form-control, .form-select, .btn, .dropdown-menu{
    font-size: 0.9rem;
}

/*==================================
テーブルの設定
===================================*/
/* 行間 */
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 10px;  /* 5px の値を変更 */
}

table, td, th {
    /* 見出し線、テーブル線のカスタマイズ */
    border-bottom: 1px solid #dee2e6!important;
    /* はみ出た部分を隠す */
    overflow: hidden;
    /* 折り返し無し */
    white-space: nowrap;
}

/*==================================
ラベル(必須、任意)
===================================*/
label.label_required:after {
    padding: 0px 6px 0px 6px;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: white;
    background-color: #C44;
    content: "必須";
}

/* ラベル(任意) */
label.label_any:after {
    padding: 0px 6px 0px 6px;
    font-size: 0.7rem;
    margin-right: 0.5rem;
    color: white;
    background-color: #5e5e5e;
    content: "任意";
}

/* テーブル上のhrのmargin_bottom */
.info_title{
    font-size: 1.1rem;
    color: #6c757d;
    /* letter-spacing: 0.1rem; */
}

.icon_blue{
    color: #98a4c7;
}
